---
layout: default
title: 关于我们
---

{% include header.html banner=site.data.headers.about.banner title=site.data.headers.about.title %}

<section class="section section-sub">
  <div class="container">
    {% include nav.html items=site.data.navs.about index=0 %}

    <div class="row">
      <div class="seven columns">
        <div class="about-company">
          <h5 class="title">公司简介<span class="translation">INTRO</span></h5>
          <p>杭州端点网络科技有限公司是一家互联网软件公司，致力于打造企业互联网的生态圈。通过互联网技术来推动企业的发展与变革，为企业创造新的赢利点，为社会创造价值。</p>
          <p>公司成立于2012年，由6位前淘宝和天猫工程师联合创办。公司创始团队包括资深的产品线主管及架构师 、产品经理 、资深交互设计师及资深技术开发工程师曾负责过多个阿里巴巴和淘宝核心的平台级产品，拥有丰富的互联网从业经验和互联网技术沉淀。</p>
          <p>公司以互联网架构和技术为核心，提供互联网应用开发平台以及电商平台综合解决方案，先后推出了互联网分布式系统开发平台Pampas平台、端点电商平台 、数据监控与分析Terminus平台。</p>
        </div>
      </div>
      <div class="five columns">
        <img src="/public/images/about/1.png" alt="公司介绍">
      </div>
    </div>

    <div class="row">
      <div class="five columns">
        <img src="/public/images/about/2.png" alt="团队产品介绍">
      </div>
      <div class="seven columns">
        <div class="about-team">
          <h5 class="title">团队<span class="translation">TEAM</span></h5>
          <p>团队-超过10年的互联网和电商经验，创始团队在一线互联网公司合作多年，执行力强，快速响应。</p>
          <h5 class="title">产品<span class="translation">PRODUCT</span></h5>
          <p>产品-支持过亿PV/UV的互联网架构电商平台，支持B2B2C模式的多店铺体系，完善的商品管理体系：商品类目、SPU、SKU，所见即所得的电商平台装修系统，一流的视觉及用户体验设计。</p>
          <h5 class="title">技术<span class="translation">TECHNOLOGY</span></h5>
          <p>技术-可运维的平台级技术架构，更好的扩展性、稳定性，超大型系统的设计实现及Owner经验。</p>
          <h5 class="title">运营<span class="translation">OPRATIONS</span></h5>
          <p>运营-自主运营电商平台大企汇平台，拥有互联网 ，提供电商平台Hosting服务。</p>
        </div>
      </div>
    </div>
  </div>
</section>
