---
layout: default
title: 成功案例
---

{% include header.html banner=site.data.headers.case.banner title=site.data.headers.case.title %}

<section id="section" class="section section-sub">
  <div class="container case-detail">
    {% include nav.html items=site.data.navs.case index=0 %}

    <div class="row case">
      <div class="four columns">
        <div class="screen-shot screen-shot-1 screen-shot-lg"></div>
      </div>
      <div class="eight columns">
        <div class="case-article">
          <h5>多多宝O2O商户经营平台</h5>
          <p>多多宝 是O2O集约化商户经营系统，为线下商家提供基于POS的管理平台，以及商家之间的联盟互动营销。</p>
          <p>精准高效的营销工具、强大的商圈联动营销模式、丰富的用户管理系统，正努力成为最优化的线上线下一体经营的O2O服务系统。</p>
          <p><a href="http://ddbao.com" target="_blank">http://ddbao.com</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
