---
layout: default
title: 解决方案
---

{% include header.html banner=site.data.headers.solution.banner title=site.data.headers.solution.title %}

<section id="section" class="section section-sub">
  <div class="container">
    {% include nav.html items=site.data.navs.solution index=0 %}

    <div class="row product">
      <div class="six columns">
        <h5 class="title">行业现状</h5>
        <p>相对于互联网企业，传统企业有稳定的进货渠道、较为完善的物流体系、强大的品牌影响、健全的售后服务等优势。</p>
        <p>因此，越来越多的传统企业纷纷触网，开展电子商务业务。</p>
        <p>相较于B2B2C，自营品牌商开展电子商务有以下特点：</p>
        <p>商品的品类、品牌、SKU数量比较稳定；</p>
        <p>促销方式丰富多样</p>
        <p>客户更容易对网站产生黏性</p>
        <h5 class="title">独立电商的好处</h5>
        <p>提升了自己店面形象和知名度，拉开与同行的差距，扩大了销售区域。独立商城它本身就是一个品牌的象征，品牌有独立的域名 ，客户在商城里买东西更加的放心信任。</p>
        <p>你在整个交易过程中，不受任何制约，对于消费者数据、订单资料、用户账户、用户交易记录等核心资源等可以独立掌控；</p>
        <p>可以经常性的对已有客户进行回访，巩固客户关系，最大限度的防止客户流失。</p>
        <h5 class="title">B2C电商平台解决方案</h5>
        <p>基于Pampas平台定制了适应品牌商特点的电商解决方案。</p>
      </div>
      <div class="six columns">
        <img src="/public/images/solutions/1.png" alt="b2c" />
      </div>
    </div>
    <div class="row product">
      <div class="six columns">
        <img src="/public/images/solutions/1-1.png" alt="b2c" />
      </div>
      <div class="six columns">
        <h5 class="title">功能模块介绍</h5>
        <p>商品管理模块</p>
        <p>包括前后台类目管理、商品上下架管理、批量信息修改、商品价格管理、库存展示和智能商品推荐等功能。商品管理模块能够帮助客户快速、准确地实现网站大量商品的上下架更替。</p>
        <p>产品搜索模块</p>
        <p>提供拼写检查、搜索建议、通配符搜索、关键字搜索、分页浏览、搜索高光提示、结果筛选等功能。</p>
        <p>营销管理模块</p>
        <p>提供基于顾客群细分的web活动和基于顾客触发行为的对话活动这两种精准营销模式，根据业务需要构建各种促销，包括产品促销、订单促销等促销方式。</p>
        <p>订单流程模块</p>
        <p>包括购物车管理、结账管理、订单管理三大内容。</p>
        <p>购物车管理能够实现购物车中商品数量修改、商品删除、促销信息显示、促销温馨提示等功能。</p>
        <p>结账是顾客下订单的流程，结账管理包括收货人信息管理、配送管理、支付方式管理、自动拆分订单及跨区域支付结算。</p>
        <p>订单管理包括订单的不同状态管理、供应商确认库存和退货管理及订单合并。基于行业实施经验，Parana可以帮助您快速建立各种订单流程，支持电商运营。</p>
        <p>会员管理模块</p>
        <p>提供订单中心、优惠券管理、个人信息管理、收藏夹等功能。</p>
        <p>内容管理模块</p>
        <p>包括页面管理、数字资产、用户权限三部分内容。页面管理能实现网站新页面的添加、修改、审核、发布等操作。数字资产能实现网站新页面中会使用的图片、元素等材料的上传、修改、删除等操作。用户管理是用来添加、修改用户资料和权限的。</p>
        <h5 class="title">方案优势</h5>
        <p>针对B2C企业，Parana可以帮助企业快速搭建电商平台，平行迁移天猫、淘宝等店铺的类目和商品信息。</p>
        <p>系统采用Pampas架构，系统操作简单，您无需任何技术就可以快速搭建属于自己的电商网站；</p>
        <p>具有独有的可视化编辑后台，所见即所得，可以按您的思路随心定制更具个性化独立B2C商城；</p>
      </div>
    </div>
  </div>
</section>
