@import "compass/typography/lists/horizontal-list";

#footer {
  text-align: center;

  .nav {
    font-size: 13px;
    display: inline-block;
    @include horizontal-list();

    li {
      padding: 5px 20px;
    }
  }
}
