<div id="footer" class="js-comp" data-comp-path="footer">
  <div class="nav">
    <ul>
      <li><a href="#">价格方案</a></li>
      <li><a href="#">商业合作</a></li>
      <li><a href="#">开发者</a></li>
      <li><a href="#">帮助</a></li>
      <li><a href="#">职位</a></li>
      <li><a href="#">私隐条款</a></li>
    </ul>
  </div>
</div>
