@media (min-width: 1200px) {
  /* line 7, _src/styles/app.scss */
  .container {
    width: 100%;
    max-width: 1200px;
  }
}
/* line 13, _src/styles/app.scss */
body {
  font-size: 13px;
}

/* line 17, _src/styles/app.scss */
.navbar {
  padding-top: 20px;
  overflow: hidden;
  *zoom: 1;
}
/* line 21, _src/styles/app.scss */
.navbar .nav-header {
  font-size: 32px;
}
/* line 25, _src/styles/app.scss */
.navbar ul.menu {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 28, _src/styles/app.scss */
.navbar ul.menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}
/* line 49, /Users/saito/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.navbar ul.menu li:first-child {
  padding-left: 0;
}
/* line 50, /Users/saito/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.navbar ul.menu li:last-child {
  padding-right: 0;
}
/* line 52, /Users/saito/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.navbar ul.menu li.last {
  padding-right: 0;
}
/* line 31, _src/styles/app.scss */
.navbar ul.menu li a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #646464;
  padding: 6px 14px;
  border: 1px solid transparent;
  text-decoration: none;
}
/* line 24, /Users/saito/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.navbar ul.menu li a:hover {
  color: #949494;
}
/* line 38, _src/styles/app.scss */
.navbar ul.menu li a.btn {
  border: 1px solid #333;
  border-radius: 4px;
}

/* line 47, _src/styles/app.scss */
.section {
  padding: 20px 0;
}

/* line 51, _src/styles/app.scss */
.hero-unit {
  text-align: center;
  padding-top: 200px;
  height: 314px;
  border-bottom: 1px solid #dedede;
}

/* line 58, _src/styles/app.scss */
.heading {
  text-align: center;
  border-bottom: 1px solid #dedede;
}

/* line 63, _src/styles/app.scss */
.products {
  padding: 20px 0;
}

/* line 67, _src/styles/app.scss */
.cases {
  padding: 20px 0;
}
/* line 70, _src/styles/app.scss */
.cases .case {
  border: 1px solid #dedede;
  margin-bottom: 40px;
}
/* line 74, _src/styles/app.scss */
.cases .case .screen-shot {
  height: 280px;
}
/* line 78, _src/styles/app.scss */
.cases .case .description {
  overflow: hidden;
  *zoom: 1;
  padding: 20px 20px;
}

/* line 86, _src/styles/app.scss */
.solutions .solution {
  padding-top: 200px;
  text-align: center;
  height: 300px;
}

/* line 94, _src/styles/app.scss */
.links .link-heading {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 8px 0;
  border-bottom: 1px solid #dedede;
}
/* line 100, _src/styles/app.scss */
.links ul.link-list {
  margin-top: 20px;
  list-style: none;
}
/* line 104, _src/styles/app.scss */
.links ul.link-list li.link {
  margin-bottom: 4px;
}
/* line 107, _src/styles/app.scss */
.links ul.link-list li.link a {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #646464;
}
/* line 24, /Users/saito/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.links ul.link-list li.link a:hover {
  color: #949494;
}

/* line 116, _src/styles/app.scss */
.copyright {
  margin: 0;
  padding: 20px 0;
}
