<section class="section link-section">
  <div class="container">
    <div class="row">
      <div class="two columns">
        <div class="links">
          <div class="link-heading">产品</div>
          <ul class="link-list">
            <li class="link"><a href="/products.html" target="_blank">电商平台</a></li>
            <li class="link"><a href="/products/1.html" target="_blank">数据分析中心</a></li>
            <li class="link"><a href="/products/2.html" target="_blank">Pampas</a></li>
            <li class="link"><a href="/products/3.html" target="_blank">Terminus</a></li>
          </ul>
        </div>
      </div>
      <div class="three columns">
        <div class="links">
          <div class="link-heading">解决方案</div>
          <ul class="link-list">
            <li class="link"><a href="#" target="_blank">端点O2O解决方案</a></li>
            <li class="link"><a href="#" target="_blank">B2C电商平台解决方案</a></li>
            <li class="link"><a href="#" target="_blank">电商数据分析解决方案</a></li>
            <li class="link"><a href="#" target="_blank">ECP移动商务解决方案</a></li>
            <li class="link"><a href="#" target="_blank">Pampas CMS解决方案</a></li>
          </ul>
        </div>
      </div>
      <div class="two columns">
        <div class="links">
          <div class="link-heading">关于我们</div>
          <ul class="link-list">
            <li class="link"><a href="/about.html" target="_blank">公司介绍</a></li>
            <li class="link"><a href="mailto:jobs@terminus.io">加入我们</a></li>
          </ul>
        </div>
      </div>
      <div class="five columns">
        <div class="links">
          <div class="link-heading">联系方式</div>
          <ul class="link-list">
            <li class="link"><span>杭州市滨江区六和路307号中控大厦E座4层</span></li>
            <li class="link"><span>0571-56131922</span></li>
            <li class="link"><a href="/" target="_blank">http://terminus.io</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="row">
      <p class="copyright">
        版权所有: 杭州端点网络科技有限公司  浙ICP备05004842号
      </p>
    </div>
  </div>
</footer>
