<header class="top top-header">
  <div class="container">
    <div class="navbar" role="navigation">
      <h1 class="nav-header u-pull-left"><a href="/">Terminus, Inc</a></h1>
      <nav class="nav u-pull-right">
        <ul class="menu">
          <li><a href="/" target="_blank">首页</a></li>
          <li><a href="/products.html" target="_blank">产品与服务</a></li>
          <li><a href="/solutions.html" target="_blank">解决方案</a></li>
          <li><a href="/cases.html" target="_blank">成功案例</a></li>
          <li><a href="/about.html" target="_blank">关于我们</a></li>
          <li><a href="mailto:support@terminus.io" class="btn">联系我们</a></li>
        </ul>
        <i class="icon slide-menu">&#xe606;</i>
      </nav>
    </div>
    <div class="hero-unit">
      <img src="{{include.banner}}" class="logo"></img>
      <h2>{{include.title}}</h2>
    </div>
  </div>
</header>
