@import "compass/css3";

@mixin clearfloat {
  *zoom: 1;

  &:before, &:after {
    display: table;
    line-height: 0;
    content: "";
  }

  &:after {
    clear: both;
  }
}

.hide {
  display: none;
}
