@import "compass/reset";
@import "common";

html, body {
  font-size: 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  color: #666;
}

a {
  color: inherit;
  text-decoration: none;

  @include transition(all 0.2s);
}

.row {
  @include clearfloat;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.btn {
  border-radius: 3px;
  padding: 8px 20px;

  &.reverse-btn {
    border: 1px solid white;

    &:hover {
      background-color: rgba(white, 0.3);
    }
  }
}
