@import "common";

.index {
  position: absolute;
  width: 100%;
  height: 100%;

  .top {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 530px;
    background: url("/img/index-top-bg3.jpg") 50% 50% no-repeat;
    background-color: black;
    color: white;
  }
  .top-mask {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #666;
    opacity: 0.4;
  }
  .top-header {
    padding-top: 40px;
    width: 960px;
    margin: 0 auto;
    line-height: 2em;

    .logo {
      font-weight: bold;
      font-size: 2em;
    }

    .menu {
      li {
        float: left;
        margin-left: 50px;
      }

      a:hover {
        color: #ddd;
      }
    }
  }
  .top-logo {
    @include opacity(0.8);
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    width: 420px;
    height: 270px;
    text-align: center;
    text-shadow: 0 0 2px rgba(black, 0.5);

    .logo {
      display: block;
      width: 140px;
      height: 140px;
      // background: url("/img/logo.png") no-repeat;
      margin: 0 auto 40px;
      border-radius: 50% 10px 50% 50%;
      border: 2px solid white;
    }

    h1 {
      font-size: 2.5em;
      margin-bottom: 15px;
    }
    h2 {
      font-size: 1.5em;
    }
  }
  .top-footer {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 4em;
  }

  .screen {
    padding: 100px 0;
    text-align: center;

    .paragraph {
      margin-top: 40px;
      margin-bottom: 40px;
      line-height: 1.5em;
    }

    h2 {
      font-size: 2em;
      line-height: 1.5em;
      color: rgb(62, 9, 0);
    }

    p {
      line-height: 1.5em;
    }
  }

  .section-logo {
    color: #cdcdcd;

    i {
      display: block;
      margin-bottom: 10px;
      font-size: 5em;
    }
  }

  .summary {
    width: 100%;
    background-color: white;
  }

  .summary-spec {
    text-align: left;

    .key {
      text-align: right;
      width: 400px;
    }
  }

  .intro {
    background-color: #f7f7f7;
  }

  .intro-example {
    position: relative;

    .example-logo {
      position: absolute;
      left: 50%;
      margin-left: -230px;
      width: 70px;
      line-height: 70px;
      font-size: 1.5em;
      background-color: rgb(229, 151, 58);
      color: white;
    }

    .rrs {
      line-height: 70px;
      font-size: 1.7em;
      color: rgb(204, 0, 58);
    }
    .ddbao {
      line-height: 70px;
      font-size: 1.7em;
      color: rgb(232, 76, 54);
    }
  }

  .intro-divider {
    width: 960px;
    margin: 40px auto;
    border-top: 1px solid rgb(208, 208, 208);
    // border-bottom: 1px solid rgb(225, 225, 225);
  }

  .customer-list {
    height: 200px;
  }

  .bottom {
    color: white;
    background: url("/img/index-top-bg3.jpg") 50% 100% no-repeat;
    background-color: black;

    .copyright {
      @include opacity(0.8);
      strong {
        font-weight: bold;
      }
    }
    .faith {
      @include opacity(0.6);
      font-size: 0.8em;
    }
  }
}
