---
layout: default
title: 解决方案
---

{% include header.html banner=site.data.headers.solution.banner title=site.data.headers.solution.title %}

<section id="section" class="section section-sub">
  <div class="container">
    {% include nav.html items=site.data.navs.solution index=1 %}

    <div class="row">
      <div class="six columns">
        <h5 class="title">业务特征</h5>
        <p>• 适用于拥有大量消费者资源,想要把消费者价值最大化的企业</p>
        <p>• 企业具有平台的运营能力</p>
        <p>• 企业无供货能力,但可以吸纳大量供货商进驻平台</p>
        <h5 class="title">方案特点</h5>
        <p>完善的用户购物体验</p>
        <p>• 多品类,多品牌,多频道首页展示</p>
        <p>1 首页需要展示全品类,展示可以提供的所有服务类型</p>
        <p>2 按品牌,或者受众消费者进行区域展示</p>
        <p>• 多种搜索方式,帮消费者快速定位商品</p>
        <p>1 关键词联想搜索</p>
        <p>2 分类,品牌搜索</p>
        <p>3 渐进式筛选搜索</p>
        <p>4 热门关键词导航</p>
        <p>• 丰富的促销规则,快速变化营销策略</p>
        <p>1 基于订单的促销规则</p>
        <p>2 基于单品的促销规则</p>
        <p>3 基于组合商品的促销规则</p>
        <p>4 基于优惠券的促销规则</p>
      </div>
      <div class="six columns">
        <img src="/public/images/solutions/2.png" alt="bbc" />
      </div>
    </div>

    <div class="row">
      <div class="six columns">
        <img src="/public/images/solutions/2-1.png" alt="bbc" />
      </div>
      <div class="six columns">
        <h5 class="title">业务特征</h5>
        <h5 class="title">方便快捷的供货商操作界面</h5>
        <p>• 批量商品信息上传</p>
        <p>1 提供标准化的商品上传模板</p>
        <p>2 供应商可快速将商品信息上传至平台</p>
        <h5 class="title">强大的平台运营工作台</h5>
        <p>• 供货商入驻,权限管理</p>
        <p>1 供货商可方便的提交入驻申请和相关资料</p>
        <p>2 平台对供货商进行严格的审查和权限分配</p>
        <p>• 完整的销售过程记录,便于后期结算</p>
        <p>1 完整的单据结构,能够记录交易过程中的资金变化和库存变化</p>
        <p>2 基于单据,可支持多种结算方式</p>
        <p>• 健全的运营监控体系（ 需要数据中心配合，查看数据中心介绍 ）</p>
        <p>1 丰富的数据报表,可监控运营过程中的所有信息</p>
        <p>2 基于数据,辅助进行运营决策</p>
      </div>
    </div>
  </div>
</section>
