---
layout: default
title: 解决方案
---

{% include header.html banner=site.data.headers.solution.banner title=site.data.headers.solution.title %}

<section id="section" class="section section-sub">
  <div class="container">
    {% include nav.html items=site.data.navs.solution index=2 %}

    <div class="row">
      <div class="six columns">
        <h5 class="title">方案介绍</h5>
        <p>端点基于自己丰富的客户资源及电商实践经验，推出了专有数据分析平台帮助客户开展线上CRM；</p>
        <p>数据分析内容可以分为浏览行为分析、活动维度分析、客户行为分析和产品销售分析这四大模块；</p>
        <p>浏览行为分析主要分析网站来访顾客的浏览习惯，如浏览时间、浏览路径、搜索内容等；</p>
        <p>活动维度分析主要分析营销活动的效果，如活动带来的顾客类型、顾客数量、销售额、二次购买情况以及不同渠道之间的比较；</p>
        <p>客户行为分析主要基于时间、地区、来源、会员兴趣等多维度的细分精确分析将顾客分群，并比较不同类型顾客在网站上的表现；</p>
        <p>产品销售分析主要从商品的角度分析不同商品的销售情况以及交叉销售、向上销售的效果，也有对库存周转率的分析。</p>
      </div>
      <div class="six columns">
        <img src="/public/images/solutions/3.png" alt="" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <img src="/public/images/solutions/3-1.png" alt="" />
    </div>
    <div class="six columns">
      <h5 class="title">解决方案亮点</h5>
      <p>更为全面的数据埋点，确保统计数据的高覆盖性；</p>
      <p>实时分析与离线分析技术相结合，确保统计数据的精确性与高效率；</p>
      <p>高度可定制的数据展示图表表格，适应各种数据类型的展现；</p>
      <p>可自由定制需统计的数据类型；</p>
      <p>内置多种数据类型，可满足绝大部分场景需求；</p>
    </div>
  </div>
</section>
