---
layout: default
title: 解决方案
---

{% include header.html banner=site.data.headers.solution.banner title=site.data.headers.solution.title %}

<section id="section" class="section section-sub">
  <div class="container">
    {% include nav.html items=site.data.navs.solution index=2 %}

    <div class="row product">
      <div class="six columns">
        <p>端点电商平台基于互联网分布式架构，平台涵盖了电商平台完整解决方案体系。</p>
        <p>产品架构如下图所示：</p>
        <p>电商平台基于基础平台和定制应用的底层服务进行开发，产品形态分为网站前台、运营后台、商家中心、用户中心等；同时，又可根据业务需求不同，扩展出财务、垂直行业运营、品牌商、渠道管理等管理后台。</p>
      </div>
      <div class="six columns">
        <p>电商平台特性如下：</p>
        <p>基于互联网分布式架构，可线性扩展，对大流量、高并发有良好支撑，可支持过亿级PV/UV，同时能为企业节省大量设备及平台软件费用（2000万PV/UV只需要20台PC Server，硬件成本50万以内，相对传统IOE架构可节约500-1000万平台费用）；</p>
        <p>完全自主开发平台，对企业需求可深度定制；</p>
        <p>一个平台、多种接入：电商平台可快速搭建PC、IOS手机、Android手机及微信等多种渠道终端访问站点，实现一个平台、多种接入；</p>
        <p>支持B2B2C多店铺体系，能够灵活支撑多变的业务模式；</p>
        <p>快速建站系统：所见即所得的装修功能，快速实现网页搭建，支撑互联网快速响应；并可预设模板，规范平台用户体验；</p>
        <p>多级商品类目体系：通过前台类目、后台类目、店铺类目多级类目体系，支撑商品快速检索、导购及海量商品有效管理；</p>
        <p>支持多站点多实例，方便做A/B test；</p>
        <p>提供多种交易场景和营销工具，支撑电商运营和推广；</p>
        <p>提供埋点服务，支持平台访问和操作行为分析；并通过Terminus平台提供深度数据监控与分析服务；</p>
        <p>支持微信、支付宝、银联及银行在线等多种在线支付；</p>
        <p>完整的后台运营和结算体系。</p>
      </div>
    </div>
  </div>
</section>
