---
layout: default
title: 解决方案
---

{% include header.html banner=site.data.headers.solution.banner title=site.data.headers.solution.title %}

<section id="section" class="section section-sub">
  <div class="container">
    {% include nav.html items=site.data.navs.solution index=3 %}

    <div class="row product">
      <div class="six columns">
        <h5 class="title">主要包括</h5>
        <p>• 电商系统及基础架构搭建</p>
        <p>• 电商系统及基础架构运维</p>
        <p>• 7 x 12 x 365二线远程及现场技术支持</p>
        <p>• 整体网络运维与优化</p>
        <p>• 系统集成、外包服务等项目整合管理</p>
        <h5 class="title">我们的优势</h5>
        <p>• 熟悉电商行业的运营模式</p>
        <p>• 通晓电商行业IT基础架构</p>
        <p>• 拥有众多国内知名电商品牌的成功经验</p>
        <p>• 卓越的管理及整合能力，团队成员拥有专业的技术背景及综合服务能力</p>
        <p>• 提供贴合电商行业需求的IT基础架构外包服务，且拥有充裕的资源能帮助客户最大程度地降低IT管理和运维的总体成本</p>

        <a href="/products/2.html#section">点击查看pampas产品介绍，了解更多内容</a>
      </div>
      <div class="six columns">
        <img src="/public/images/solutions/4.png" alt="pampas" />
      </div>
    </div>
  </div>
</section>
