.section-sub {
  .about-company {
    margin-top: 90px;
  }

  .about-team {
    .title {
      margin-bottom: 16px;

      .translation {
        @include inline-block();
        font-size: 14px;
        margin-left: 10px;
      }
    }
  }
}
