.section-sub {
  .about-company {
    margin-top: 90px;
  }

  .title {
    font-size: 18px;
    margin-bottom: 12px;

    .translation {
      @include inline-block();
      margin-left: 10px;
    }
  }
}
