body {
  font-size: 13px;
  color: $body-color;
  font-family: "Raleway", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

a {
  text-decoration: none;
  color: $body-color;
}

.section {
  padding: 20px 0;

  .heading {
    padding: 20px 0 28px 0;
    text-align: center;
    border-bottom: 1px solid $darken-bg-color;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1200px;
  }
}
