.link-section {
  padding: 30px 0;
  background: url(/public/images/map.png);

  .links {
    .link-heading {
      @include inline-block();
      padding: 8px 0;
      border-bottom: 1px solid $body-color;
      font-weight: bold;
    }

    ul.link-list {
      list-style: none;
      margin-top: 20px;

      li.link {
        margin-bottom: 4px;

        a {
          @include inline-block();
          @include link-colors($body-color, darken($body-color, 10%));
        }
      }
    }
  }
}

.footer {
  color: white;
  padding: 18px 0;
  background-color: $footer-bg-color;

  p {
    margin: 0;
    line-height: 24px;
    @include inline-block();
  }
}
