$column-margin: 2.5%;

$body-color: #484848;
$p-color: #aeaeae;
$reverse-color: #ffffff;

$bg-color: #fdfdfd;
$darken-bg-color: #eaeaea;

$primary-color: #85c058;
$footer-bg-color: rgba(8, 8, 8, 0.8);
