@charset "UTF-8";
/* line 1, _src/styles/modules/_base.scss */
body {
  font-size: 13px;
  color: #484848;
  font-family: "Raleway", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}

/* line 7, _src/styles/modules/_base.scss */
a {
  text-decoration: none;
  color: #484848;
}

/* line 12, _src/styles/modules/_base.scss */
.section {
  padding: 20px 0;
}
/* line 15, _src/styles/modules/_base.scss */
.section .heading {
  padding: 20px 0 28px 0;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
}

@media (min-width: 1200px) {
  /* line 23, _src/styles/modules/_base.scss */
  .container {
    width: 100%;
    max-width: 1200px;
  }
}
/* line 1, _src/styles/modules/_header.scss */
.top-header {
  color: white;
  background: url("/public/images/focus.png") no-repeat top;
}
/* line 5, _src/styles/modules/_header.scss */
.top-header .navbar {
  padding-top: 40px;
  overflow: hidden;
  *zoom: 1;
}
/* line 9, _src/styles/modules/_header.scss */
.top-header .navbar .nav-header {
  font-size: 32px;
}
/* line 11, _src/styles/modules/_header.scss */
.top-header .navbar .nav-header a {
  color: #eaeaea;
}
/* line 24, /Users/saito/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.top-header .navbar .nav-header a:hover {
  color: #ffffff;
}
/* line 16, _src/styles/modules/_header.scss */
.top-header .navbar i.icon {
  visibility: hidden;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-top: -10px;
}
/* line 22, _src/styles/modules/_header.scss */
.top-header .navbar ul.menu {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-top: 5px;
}
/* line 26, _src/styles/modules/_header.scss */
.top-header .navbar ul.menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}
/* line 49, /Users/saito/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.top-header .navbar ul.menu li:first-child {
  padding-left: 0;
}
/* line 50, /Users/saito/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.top-header .navbar ul.menu li:last-child {
  padding-right: 0;
}
/* line 52, /Users/saito/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.top-header .navbar ul.menu li.last {
  padding-right: 0;
}
/* line 29, _src/styles/modules/_header.scss */
.top-header .navbar ul.menu li a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #eaeaea;
  padding: 6px 14px;
  border: 1px solid transparent;
}
/* line 24, /Users/saito/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.top-header .navbar ul.menu li a:hover {
  color: #ffffff;
}
/* line 35, _src/styles/modules/_header.scss */
.top-header .navbar ul.menu li a.btn {
  border: 1px solid #ffffff;
  border-radius: 4px;
}
/* line 39, _src/styles/modules/_header.scss */
.top-header .navbar ul.menu li a.btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
/* line 48, _src/styles/modules/_header.scss */
.top-header .hero-unit {
  text-align: center;
  padding-top: 100px;
  height: 598px;
}
/* line 53, _src/styles/modules/_header.scss */
.top-header .hero-unit .logo {
  margin: 60px;
}
/* line 57, _src/styles/modules/_header.scss */
.top-header .hero-unit h2 {
  font-size: 3.6rem;
  letter-spacing: 2px;
}

@media (max-width: 1024px) {
  /* line 67, _src/styles/modules/_header.scss */
  .top-header .navbar ul.menu {
    display: none;
  }
  /* line 71, _src/styles/modules/_header.scss */
  .top-header .navbar i.icon {
    visibility: visible;
  }
}
/* line 1, _src/styles/modules/_footer.scss */
.link-section {
  height: 270px;
  padding: 30px 0 0 0;
  background: url(/public/images/map.png);
}
/* line 7, _src/styles/modules/_footer.scss */
.link-section .links .link-heading {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 8px 0;
  border-bottom: 1px solid #484848;
}
/* line 13, _src/styles/modules/_footer.scss */
.link-section .links ul.link-list {
  list-style: none;
  margin-top: 30px;
}
/* line 17, _src/styles/modules/_footer.scss */
.link-section .links ul.link-list li.link {
  margin-bottom: 8px;
}
/* line 20, _src/styles/modules/_footer.scss */
.link-section .links ul.link-list li.link a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #484848;
}
/* line 24, /Users/saito/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.link-section .links ul.link-list li.link a:hover {
  color: #2f2f2f;
}

/* line 29, _src/styles/modules/_footer.scss */
.footer {
  color: white;
  background-color: rgba(8, 8, 8, 0.8);
}
/* line 33, _src/styles/modules/_footer.scss */
.footer .copyright {
  margin: 0;
  padding: 12px 0;
}

/* line 2, _src/styles/modules/_cases.scss */
.screen-shot-1 {
  background: url("/public/images/cases/1.png") no-repeat top;
}

/* line 2, _src/styles/modules/_cases.scss */
.screen-shot-2 {
  background: url("/public/images/cases/2.png") no-repeat top;
}

/* line 2, _src/styles/modules/_cases.scss */
.screen-shot-3 {
  background: url("/public/images/cases/3.png") no-repeat top;
}

/* line 2, _src/styles/modules/_cases.scss */
.screen-shot-4 {
  background: url("/public/images/cases/4.png") no-repeat top;
}

/* line 2, _src/styles/modules/_cases.scss */
.screen-shot-5 {
  background: url("/public/images/cases/5.png") no-repeat top;
}

/* line 2, _src/styles/modules/_cases.scss */
.screen-shot-6 {
  background: url("/public/images/cases/6.png") no-repeat top;
}

/* line 7, _src/styles/modules/_cases.scss */
.screen-shot-lg {
  height: 660px;
}

/* line 11, _src/styles/modules/_cases.scss */
.case-section {
  background: url("/public/images/case-bg.png") #eaeaea;
}
/* line 14, _src/styles/modules/_cases.scss */
.case-section .cases {
  padding: 20px 0;
}
/* line 17, _src/styles/modules/_cases.scss */
.case-section .cases .case {
  position: relative;
  margin-bottom: 40px;
}
/* line 22, _src/styles/modules/_cases.scss */
.case-section .cases .case:hover .description {
  visibility: hidden;
}
/* line 26, _src/styles/modules/_cases.scss */
.case-section .cases .case:hover .more {
  visibility: visible;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 32, _src/styles/modules/_cases.scss */
.case-section .cases .case .screen-shot {
  height: 340px;
}
/* line 36, _src/styles/modules/_cases.scss */
.case-section .cases .case .description {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  *zoom: 1;
  background-color: white;
}
/* line 44, _src/styles/modules/_cases.scss */
.case-section .cases .case .description .name {
  padding-left: 20px;
}
/* line 48, _src/styles/modules/_cases.scss */
.case-section .cases .case .description .website {
  padding-right: 20px;
  color: #aeaeae;
}
/* line 54, _src/styles/modules/_cases.scss */
.case-section .cases .case .more {
  visibility: hidden;
  position: absolute;
  cursor: pointer;
  top: 0;
  height: 334px;
  width: 100%;
  color: white;
  border-top: 6px solid #85c058;
  background: rgba(8, 8, 8, 0.8);
}
/* line 65, _src/styles/modules/_cases.scss */
.case-section .cases .case .more .logo {
  padding-top: 20px;
  text-align: center;
}
/* line 70, _src/styles/modules/_cases.scss */
.case-section .cases .case .more .introduce {
  padding: 0 20px;
  font-size: 14px;
}
/* line 75, _src/styles/modules/_cases.scss */
.case-section .cases .case .more .readmore {
  font-size: 18px;
  text-align: center;
}
/* line 79, _src/styles/modules/_cases.scss */
.case-section .cases .case .more .readmore a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #85c058;
}
/* line 24, /Users/saito/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.case-section .cases .case .more .readmore a:hover {
  color: #a0ce7d;
}

/* line 89, _src/styles/modules/_cases.scss */
.case-section {
  padding: 60px 0 80px 0;
}
/* line 92, _src/styles/modules/_cases.scss */
.case-section .cases-table {
  border-collapse: collapse;
}
/* line 95, _src/styles/modules/_cases.scss */
.case-section .cases-table td {
  padding: 0;
  border: 1px solid #fdfdfd;
}
/* line 99, _src/styles/modules/_cases.scss */
.case-section .cases-table td .screen-shot {
  height: 330px;
}
/* line 104, _src/styles/modules/_cases.scss */
.case-section .cases-table td .screen-shot:hover .more {
  visibility: visible;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 110, _src/styles/modules/_cases.scss */
.case-section .cases-table td .screen-shot .more {
  height: 290px;
  color: white;
  padding: 20px;
  visibility: hidden;
  background: rgba(8, 8, 8, 0.8);
}
/* line 117, _src/styles/modules/_cases.scss */
.case-section .cases-table td .screen-shot .more .logo {
  text-align: center;
}
/* line 121, _src/styles/modules/_cases.scss */
.case-section .cases-table td .screen-shot .more .readmore {
  font-size: 18px;
  text-align: center;
}
/* line 125, _src/styles/modules/_cases.scss */
.case-section .cases-table td .screen-shot .more .readmore a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #85c058;
}
/* line 24, /Users/saito/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.case-section .cases-table td .screen-shot .more .readmore a:hover {
  color: #a0ce7d;
}

/* line 137, _src/styles/modules/_cases.scss */
.case-section .case-detail {
  background: white;
}
/* line 140, _src/styles/modules/_cases.scss */
.case-section .case-detail .case-article {
  padding: 20px 20px 40px 0;
}
/* line 143, _src/styles/modules/_cases.scss */
.case-section .case-detail .case-article p {
  font-size: 14px;
  margin-bottom: 12px;
}

/* line 1, _src/styles/modules/_products.scss */
.product-section {
  background-color: #fdfdfd;
}
/* line 4, _src/styles/modules/_products.scss */
.product-section .products {
  padding: 60px 0 0 0;
}
/* line 7, _src/styles/modules/_products.scss */
.product-section .products .product {
  padding: 8px 0;
}
/* line 10, _src/styles/modules/_products.scss */
.product-section .products .product .icon-box {
  width: 64px;
  padding: 8px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 2px solid #eaeaea;
  border-radius: 64px;
  text-align: center;
}
/* line 20, _src/styles/modules/_products.scss */
.product-section .products .product h5 {
  margin-bottom: 18px;
}
/* line 24, _src/styles/modules/_products.scss */
.product-section .products .product p {
  color: #aeaeae;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1px;
}

/* line 1, _src/styles/modules/_solutions.scss */
.solution-section {
  background: url("/public/images/solution-bg.png");
}
/* line 5, _src/styles/modules/_solutions.scss */
.solution-section .solutions .solution {
  padding-top: 200px;
  text-align: center;
  height: 300px;
  background-color: #eaeaea;
  margin-bottom: 60px;
}

@font-face {
  font-family: "Raleway";
  src: url("/public/fonts/ralewayfont.eot");
  /* IE9 */
  src: url("/public/fonts/ralewayfont.eot?#iefix") format("embedded-opentype"), url("/public/fonts/ralewayfont.woff") format("woff"), url("/public/fonts/ralewayfont.ttf") format("truetype"), url("/public/fonts/ralewayfont.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
@font-face {
  font-family: "iconfont";
  src: url("/public/fonts/iconfont.eot");
  /* IE9 */
  src: url("/public/fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("/public/fonts/iconfont.woff") format("woff"), url("/public/fonts/iconfont.ttf") format("truetype"), url("/public/fonts/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
/* line 19, _src/styles/modules/_fonts.scss */
.icon {
  font-size: 40px;
  font-style: normal;
  font-family: "iconfont" !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
