@font-face {
  font-family: "Raleway";
  src: url("/public/fonts/ralewayfont.eot");
  /* IE9 */
  src: url("/public/fonts/ralewayfont.eot?#iefix") format("embedded-opentype"), url("/public/fonts/ralewayfont.woff") format("woff"), url("/public/fonts/ralewayfont.ttf") format("truetype"), url("/public/fonts/ralewayfont.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
@font-face {
  font-family: "iconfont";
  src: url("/public/fonts/iconfont.eot");
  /* IE9 */
  src: url("/public/fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("/public/fonts/iconfont.woff") format("woff"), url("/public/fonts/iconfont.ttf") format("truetype"), url("/public/fonts/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
/* line 19, _src/styles/modules/_fonts.scss */
.icon {
  font-size: 40px;
  font-style: normal;
  font-family: "iconfont" !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1200px) {
  /* line 2, _src/styles/modules/_media.scss */
  .container {
    width: 100%;
    max-width: 1200px;
  }
}
/* line 11, _src/styles/app.scss */
body {
  font-size: 13px;
  color: #484848;
}

/* line 16, _src/styles/app.scss */
.top-header {
  color: white;
  background: url("/public/images/focus.png");
}
/* line 20, _src/styles/app.scss */
.top-header .navbar {
  padding-top: 25px;
  overflow: hidden;
  *zoom: 1;
}
/* line 24, _src/styles/app.scss */
.top-header .navbar .nav-header {
  font-size: 32px;
}
/* line 28, _src/styles/app.scss */
.top-header .navbar ul.menu {
  margin-top: 2px;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 32, _src/styles/app.scss */
.top-header .navbar ul.menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}
/* line 49, /Users/saito/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.top-header .navbar ul.menu li:first-child {
  padding-left: 0;
}
/* line 50, /Users/saito/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.top-header .navbar ul.menu li:last-child {
  padding-right: 0;
}
/* line 52, /Users/saito/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_horizontal-list.scss */
.top-header .navbar ul.menu li.last {
  padding-right: 0;
}
/* line 35, _src/styles/app.scss */
.top-header .navbar ul.menu li a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #eaeaea;
  padding: 6px 14px;
  border: 1px solid transparent;
  text-decoration: none;
}
/* line 24, /Users/saito/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.top-header .navbar ul.menu li a:hover {
  color: #ffffff;
}
/* line 42, _src/styles/app.scss */
.top-header .navbar ul.menu li a.btn {
  border: 1px solid #ffffff;
  border-radius: 4px;
}
/* line 46, _src/styles/app.scss */
.top-header .navbar ul.menu li a.btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
/* line 55, _src/styles/app.scss */
.top-header .hero-unit {
  text-align: center;
  padding-top: 100px;
  height: 514px;
}
/* line 60, _src/styles/app.scss */
.top-header .hero-unit .logo {
  margin: 60px;
}
/* line 64, _src/styles/app.scss */
.top-header .hero-unit h3 {
  letter-spacing: 2px;
}

/* line 70, _src/styles/app.scss */
.section {
  padding: 20px 0;
}
/* line 73, _src/styles/app.scss */
.section .heading {
  padding: 20px 0 28px 0;
  text-align: center;
  border-bottom: 1px solid #eaeaea;
}

/* line 80, _src/styles/app.scss */
.product-section {
  background-color: #fdfdfd;
}
/* line 83, _src/styles/app.scss */
.product-section .products {
  padding: 60px 0 0 0;
}
/* line 86, _src/styles/app.scss */
.product-section .products .product {
  padding: 8px 0;
}
/* line 89, _src/styles/app.scss */
.product-section .products .product .icon-box {
  text-align: center;
  padding: 8px;
  border: 2px solid #eaeaea;
  border-radius: 64px;
  width: 64px;
}
/* line 97, _src/styles/app.scss */
.product-section .products .product h5 {
  margin-bottom: 18px;
}
/* line 101, _src/styles/app.scss */
.product-section .products .product p {
  color: #aeaeae;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1px;
}

/* line 111, _src/styles/app.scss */
.case-section {
  background: url("/public/images/case-bg.png") #eaeaea;
}
/* line 114, _src/styles/app.scss */
.case-section .cases {
  padding: 20px 0;
}
/* line 117, _src/styles/app.scss */
.case-section .cases .case {
  margin-bottom: 40px;
}
/* line 120, _src/styles/app.scss */
.case-section .cases .case .screen-shot {
  height: 280px;
}
/* line 124, _src/styles/app.scss */
.case-section .cases .case .description {
  overflow: hidden;
  *zoom: 1;
  padding: 20px 20px;
  background-color: white;
}
/* line 129, _src/styles/app.scss */
.case-section .cases .case .description .website {
  color: #aeaeae;
}

/* line 138, _src/styles/app.scss */
.screen-shot-1 {
  background: url("/public/images/cases/1.png") no-repeat 50% 50%;
}

/* line 138, _src/styles/app.scss */
.screen-shot-2 {
  background: url("/public/images/cases/2.png") no-repeat 50% 50%;
}

/* line 138, _src/styles/app.scss */
.screen-shot-3 {
  background: url("/public/images/cases/3.png") no-repeat 50% 50%;
}

/* line 138, _src/styles/app.scss */
.screen-shot-4 {
  background: url("/public/images/cases/4.png") no-repeat 50% 50%;
}

/* line 138, _src/styles/app.scss */
.screen-shot-5 {
  background: url("/public/images/cases/5.png") no-repeat 50% 50%;
}

/* line 138, _src/styles/app.scss */
.screen-shot-6 {
  background: url("/public/images/cases/6.png") no-repeat 50% 50%;
}

/* line 143, _src/styles/app.scss */
.solution-section {
  background: url("/public/images/solution-bg.png");
}
/* line 147, _src/styles/app.scss */
.solution-section .solutions .solution {
  padding-top: 200px;
  text-align: center;
  height: 300px;
  background-color: #eaeaea;
  margin-bottom: 60px;
}

/* line 158, _src/styles/app.scss */
.link-section {
  height: 270px;
  padding: 30px 0 0 0;
  background: url(/public/images/map.png);
}
/* line 164, _src/styles/app.scss */
.link-section .links .link-heading {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 8px 0;
  border-bottom: 1px solid #484848;
}
/* line 170, _src/styles/app.scss */
.link-section .links ul.link-list {
  list-style: none;
  margin-top: 30px;
}
/* line 174, _src/styles/app.scss */
.link-section .links ul.link-list li.link {
  margin-bottom: 8px;
}
/* line 177, _src/styles/app.scss */
.link-section .links ul.link-list li.link a {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #484848;
}
/* line 24, /Users/saito/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
.link-section .links ul.link-list li.link a:hover {
  color: #2f2f2f;
}

/* line 187, _src/styles/app.scss */
.cases-container {
  padding: 60px 0 80px 0;
  background: url("/public/images/case-bg.png") #fdfdfd;
}
/* line 191, _src/styles/app.scss */
.cases-container .cases-table {
  border-collapse: collapse;
}
/* line 194, _src/styles/app.scss */
.cases-container .cases-table td {
  border: 1px solid #eaeaea;
}
/* line 197, _src/styles/app.scss */
.cases-container .cases-table td .screen-shot {
  height: 330px;
}

/* line 204, _src/styles/app.scss */
.footer {
  color: white;
  background-color: rgba(8, 8, 8, 0.8);
}
/* line 208, _src/styles/app.scss */
.footer .copyright {
  margin: 0;
  padding: 12px 0;
}
