---
layout: default
title: 成功案例
---

{% include header.html banner=site.data.headers.case.banner title=site.data.headers.case.title %}

<section id="section" class="section section-sub">
  <div class="container case-detail">
    {% include nav.html items=site.data.navs.case index=1 %}

    <div class="row case">
      <div class="four columns">
        <div class="screen-shot screen-shot-2 screen-shot-lg"></div>
      </div>
      <div class="eight columns">
        <div class="case-article">
          <h5>海尔云菜网B2C平台</h5>
          <p>海尔地产秉承海尔集团“共建共享共赢”的合作理念，在互联网大数据发展的如火如荼的时代背景下，在海尔集团全面实施互联网战略转型的企业背景下，海尔云菜网应运而生。</p>
          <p>海尔云菜网依托于海尔地产的大战略资源、优质海客会会员及海尔地产深耕地产行业十二年的专业能力的沉淀，将地产行业、家装行业的优质资源进行整合优化，为合作方、业主、第三方需求者搭建了一个服务型的交互交易平台。</p>
        </div>
      </div>
    </div>
  </div>
</section>
