---
layout: default
title: 成功案例
---

{% include header.html banner=site.data.headers.case.banner title=site.data.headers.case.title %}

<section id="section" class="section section-sub">
  <div class="container case-detail">
    {% include nav.html items=site.data.navs.case index=2 %}

    <div class="row case">
      <div class="four columns">
        <div class="screen-shot screen-shot-3 screen-shot-lg"></div>
      </div>
      <div class="eight columns">
        <div class="case-article">
          <h5>海尔模块商资源平台</h5>
          <p>海尔集团进入网络化战略发展阶段，需要在开放、并联的平台上实现模块商与用户零距离交互。</p>
          <p> 通过搭建全新供应商交互平台，模块供应商100%通过新平台进行交互运营，创建供应商与用户零距离交互生态圈，快速配置资源，满足用户最佳体验。</p>
          <p>在满足海尔HOP架构的基础上，实现供应商自注册、自抢单、自交互、自交易、自交付和自优化的“六个自”的系统功能，建立面向模块供应商的零距离平台。</p>
        </div>
      </div>
    </div>
  </div>
</section>
