---
layout: default
title: 成功案例
---

{% include header.html banner=site.data.headers.case.banner title=site.data.headers.case.title %}

<section id="section" class="section section-sub">
  <div class="container case-detail">
    {% include nav.html items=site.data.navs.case index=3 %}

    <div class="row case">
      <div class="four columns">
        <div class="screen-shot screen-shot-4 screen-shot-lg"></div>
      </div>
      <div class="eight columns">
        <div class="case-article">
          <h5>日日顺商城</h5>
          <p>海尔RRS.COM定位于虚实融合的整体家居解决方案开放平台，聚焦家居，重点打造围绕家电、家具、家装、家饰等产品和解决方案的开放平台，具备与用户和各利益攸关方的交互、交易、交付的竞争力，目标实现10万家店铺入住、日均 PV和UV 千万级、交易额超过千亿级的电子商务平台。</p>
          <p>海尔RRS.COM电商平台搭建要求以用户体验为核心、以电子商务精细化运营为基础、以搭建第三方交易平台为准则进行设计开发，要求实现商城各环节用户接触点高体验标准，精准高效的帮助用户、引导用户、转化用户，帮助商城商铺和商城平台管理、运营人员便捷操作。</p>
          <p><a href="http://www.rrs.com" target="_blank">http://www.rrs.com</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
