---
layout: default
title: 成功案例
---

{% include header.html banner=site.data.headers.case.banner title=site.data.headers.case.title %}

<section id="section" class="section section-sub">
  <div class="container case-detail">
    {% include nav.html items=site.data.navs.case index=4 %}

    <div class="row case">
      <div class="four columns">
        <div class="screen-shot screen-shot-5 screen-shot-lg"></div>
      </div>
      <div class="eight columns">
        <div class="case-article">
          <h5>大企汇</h5>
          <p>大企汇是一个面向企业的内购平台，为企业员工提供全网最低价的一线品牌商品，为一线品牌商提供优质企业买方流量。</p>
          <p>当前是一个互联网营销社会,水平电商诸如淘宝、天猫、京东、苏宁易购、一号店等平台具有丰富的品类及多样的促销搭配,让消费者神往、着迷甚至上瘾,品类之足、数量之大可以说是让人眼花缭乱。但有时多就是少,数以百万计的品牌,让家庭购物好比在天街上神游,这些无限的品类缺少家庭成员、企业及熟人社区必须具有的信赖感和安全感;中国企业内部特有的熟人圈和重视口口相传的特性在这些通用平台上难以得到个性化满足,这就是大企汇诞生的初衷:我们发现企业消费类商品对企业内部员工、关系协作企业员工及员工家属具有天然的吸引力和信任感(参与创造的拥有感),且企业工会等组织也常会针对内部员工发放各种优惠和福利关爱,这也是企业低成本推广品牌的一种有效方式。</p>
          <p>几乎所有的企业工会组织、人力资源部门或者各种企业内部自发社团组织都会主动推送和发布自有和相关协作企业特有的消费类商品信息,诸如大小家电、厨卫设备,客厅配套、软装饰、运动健康及保健品、生鲜农产品、生活用品、住房、汽车、旅游、优惠卡、教育、水电气、通讯等家庭生活相关类商品信息,通过家庭成员和亲友,熟人之间快速传播(类似于微信,但是不同于依赖于个体的微电商),我们认为这类福利性质的商品信息传播具有完全不同于目前互联网和电视、纸媒体的与己无关强行推销的味道,更值得信赖和可信,更亲近和温暖,当然更有效。</p>
          <p><a href="http://www.daqihui.com" target="_blank">http://www.daqihui.com</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
