---
layout: default
title: 成功案例
---

{% include header.html banner=site.data.headers.case.banner title=site.data.headers.case.title %}

<section id="section" class="section section-sub">
  <div class="container case-detail">
    {% include nav.html items=site.data.navs.case index=5 %}

    <div class="row case">
      <div class="four columns">
        <div class="screen-shot screen-shot-6 screen-shot-lg"></div>
      </div>
      <div class="eight columns">
        <div class="case-article">
          <h5>中国电信翼支付平台</h5>
          <p>中国电信天翼电子商务有限公司("翼支付")是中国人民银行核准的支付机构，是基于移动互联网技术的金融信息服务提供商，公司业务范畴涵盖利用移动电话、固定电话、pos机等不同媒介的电子支付服务，为政企和个人用户提供安全、便捷、时尚的“通信与支付融合”、“支付与理财融合”等的金融信息业务，并具备电信账单支付、电信积分等差异化资金来源，“翼支付”依托中国电信遍布全球的销售服务网络为客户提供线上线下、无处不在的第三方支付服务。</p>
          <p>目前系统活跃用户达到亿级，由于原有的系统架构及技术平台无法有效支撑性能要求，需要对系统整体架构和技术平台进行重构以满足性能和应用要求，杭州端点网络科技公司负责对翼支付平台的系统架构进行设计与重构，抛弃传统一体化开发和技术体系，采用分布式系统开发思想，基于端点公司自主研发的分布式系统技术平台PAMPAS平台对翼支付平台进行了重构。</p>
        </div>
      </div>
    </div>
  </div>
</section>
